.harsh{
    padding-left:20px;
    font-size: 20px;

}
.h1{
    font-size: 25px;
    font-weight: bold;
}
.s1{
    background-image:url('https://images.unsplash.com/photo-1564501049412-61c2a3083791?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1189&q=80');
    height:650px;
    background-repeat: no-repeat;
    background-size: cover;
    display:flex !important;

    justify-content: center;
    align-items: center ;
    font-size: 50px;
}
.s2{
    width:600px;
    height:150px;
    background-color: rgba(83, 77, 77, 0.7);
    text-align: center;
    color:white;
    font-family: Comic Sans MS;

}
.s3{
    width:90%;
}
.im{
    background-image: url('https://images.unsplash.com/photo-1600435335786-d74d2bb6de37?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1000&q=80');
background-repeat: no-repeat;
background-size: cover;
height:650px;
display:flex !important;

    justify-content: center !important;
    align-items: flex-start !important;

}
.sm{
    width:400px;
    height:80px;
    background-color:rgba(192, 188, 188, 0.7);
    padding-top:13px;
    text-align:center;
    font-weight: bolder;
    color:black;
}
.p1{
    margin-top:50px;
    text-align:center;
}
.sp{
    background-color: black;
    color:white;
    height:60px;
}
.nx{
    display: flex !important;
    align-items: center !important;
}



.h3{
    display:flex !important;}

.d1
    {background-color: crimson;

    } 